<!DOCTYPE html>
<html>
  <head>
    <title>Crumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
    <body>
      <div class="container">

        <div class="card ">

          <div class ="card-text">
              <ul class="nav nav-pills float-right">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
              </ul>
          </div>
          <div class ='card-header'>
            <h1>
              <%= link_to "crumblr", "/"%>
            </h1>
            <small class = 'float-right'>// Home baked goodness</small>
          </div>
        </div>
        <div class = "row">

          <div class = "col-md-6 offset-md-3">
            <%= yield %>
          </div>

        </div>


      </div>
    </body>


</html>
